@import url('./reset.css');
#app {
  width: 1920px;
  height: 100vh;
  font-weight: normal;
  background-color: #f0f5f5;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
